Source: tugas4oss
Section: unknown
Priority: optional
Maintainer: Aulia Astrico (-) <astrico.aulia@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/tugas4oss.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/tugas4oss.git

Package: tugas4oss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
